body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('Faculdade.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}

fieldset {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #fff;
    border-radius: 10px;
    width: 350px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

legend {
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input:focus {
    box-shadow: 0 0 8px #00ffcc;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #eea914;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #182ef5;
}
